.carousel {
  text-align: center;
  margin: 50px;
}

p{
  margin: 10px 20px;
  font-style: comic;
  font-size: 25px;
  padding: 20px;
}

.people {
  background-color: lightgrey;
  margin: 0 200px;
  border-radius: 20px;
}

.index-display {
  border-radius: 50px;
  background-color: grey;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.highlight {
  background-color: red;
}

.next {
  float: right;
}
